@model Demo.Models.CarDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.newcar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.newcar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
